<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h3>{{title}}</h3>
    <form action="/login" method="post">
        <label for="login">Login</label>
        <input id="login" name="login" type="text" placeholder="vova.."><br><br>
        <label for="pass">Password</label>
        <input id="pass" name="password" type="password" placeholder="1234.."><br><br>
        <button type="submit">Sign In</button>
    </form>
    <p>If you haven`t account yet - you can <a href="/register">sign up here</a></p>
</body>
</html>