<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user.login}}</title>
</head>
<body>
    <h2>{{user.login}}</h2><br>

    <h4>Hello, {{user.name}}</h4>
    <p>Your city is {{user.city}}</p>

    <button onclick="goToUsers()">Show all users</button>
    <a href="/login" style="margin-left: 20px">Log Out</a>

    <script>
        const goToUsers = () => {
            window.location.href = '/users';
        }
    </script>
</body>
</html>